<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>상세보기~~</title>
<script>
	let likeBtn = document.querySelector('.like-btn');
	let current = likeBtn.getAttribute('data-heart');
	let likeCont = current === 'true' ? "좋아요 취소" : "좋아요";
	likeBtn.innerHTML = likeCont;
		
	likeBtn.onclick = () => {
		current = current === 'true' ? 'false' : 'true';
		let likeCont = current === 'true' ? "좋아요 취소" : "좋아요";
		likeBtn.innerHTML = likeCont;
			
		fetch('/board/update-heart/{id}', {
			    method: 'POST', // or 'PUT' if you prefer
			    headers: {
			        'Content-Type': 'application/json',
			    },
			    body: JSON.stringify({
			        boardId: "${board.id}", // Pass the board ID to identify the board
			        newHeartValue: current,
			    }),
			  })
			  .then((response) => {
			    if (!response.ok) {
			        throw new Error('Network response was not ok');
			    }
			    // Handle the response as needed
			  })
			  .catch((error) => {
			    console.error('There was a problem with the fetch operation:', error);
			  });
		}
</script>
</head>
<body>
	<h1 th:text="${board.title}"> 제목 </h1>
	<p th:text="${board.content}"> 내용 </p>
	<!--<a th:href="@{${board.filepath}}"> 파일 보기 </a> -->
	<img th:src="@{${board.filepath}}" alt="no image" /><br>
	
	<form th:action="@{/board/update-heart/{id}(id=${board.id})}" method="post">
		<button class="like-btn" type="submit">
			<span th:if="${board.heart}">좋아요 취소</span>
			<span th:unless="${board.heart}">좋아요</span>
		</button>
	</form>
	
	<!-- 날짜 추가 -->
	<p>작성 날짜 : <span th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
	<p>수정 날짜 : <span th:text="${#temporals.format(board.modifyDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
	<br>
	<p>조회수: <span th:text="${board.viewCount}"></span></p>	
	
	<a th:href="@{/board/modify/{id}(id=${board.id})}">글 수정</a>
	<a th:href="@{/board/delete(id=${board.id})}">글 삭제</a> <!-- 타임리프의 href로 어노테이션과 id=쿼리문 사용 -->
	<a th:href="'/board/download' + ${board.filename}">파일 다운로드</a>
</body>
</html>