<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.layout {
		width : 500px;
		margin: 0 auto;
		margin-top: 40px;
	}
	
	input {
		width: 100%;
		box-sizing: border-box;
	}
	
	textarea {
		width: 100%;
		margin-top: 10px;
		min-height: 300px;
	}
</style>
</head>
<body>

<div class="layout">
	<form th:action="@{/board/update/{id}(id=${board.id})}" method="post" enctype="multipart/form-data">
		<input name="title" type="text" th:value="${board.title}">
		<textarea name="content" th:text="${board.content}"></textarea> <!-- textarea는 value로 하면 에러남! -->
		<input type="file" name="file">
		<button type="submit"> 수정 </button>
	</form>
</div>

</body>
</html>